.App {
  text-align      : center;
  background-color: #282c34;
  height          : 100vh;
  box-sizing      : border-box;
}

.App-header {
  background-color: #282c34;
  border          : #61dafb solid 1px;
  border-radius   : 20px;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

.chat__field {
  margin-top: 10px;
}

.messages__field {
  width           : 500px;
  margin          : 0 auto;
  min-height      : 300px;
  background-color: #282c34;
  filter          : invert(0.1);
  border-radius   : 20px;
  padding         : 10px;
}

.messages__form {
  width         : 500px;
  margin        : 0 auto;
  display       : flex;
  flex-direction: column;
}

.messages__form_input {
  width           : 480px;
  min-height      : 100px;
  margin          : 10px auto;
  border-radius   : 20px;
  padding         : 10px;
  background-color: #282c34;
  filter          : invert(0.1);
  color           : white;
  font-size       : 20px;
  outline         : none;
}

.messages__form_button {
  width           : 200px;
  background-color: #61DAFA;
  font-size       : 20px;
  border-radius   : 20px;
  margin          : 0 auto;
}

.messages__form_button:hover {
  background-color: #282c34;
  filter          : invert(0.1);
  color           : white;
}